body{
    background-color: black;
}
header{
display: flex;
justify-content: center;
background-image: radial-gradient(black,black,red);

}
header img{
display: block;
width:9%;
border-radius:50%;


}
header h1{
color: white;
font-size:40px;
margin-left:20px;

}
.desc{
color: white;
font-size:40px;
text-align: center;
}
.quadro1{
display:block;
margin: auto;
background-image: linear-gradient(red,black);
}
.quadro1 h1{
font-size:55px;
text-align: center;
color: white;

}
.quadro1 a{
display: block;
color: white;
text-decoration: none;
font-size:40px;
text-align: center;
}
.quadro2{
display:block;
margin: auto;
background-image: linear-gradient(black,red);
}
.quadro2 h1{
font-size:55px;
text-align: center;
color: white;
}
.quadro2 h2{
color: white;
text-align: center;
font-size:40px;
}

.quadro2 a{
display: block;
color: white;
text-decoration: none;
font-size:40px;
text-align: center;
}
a:hover{
background-color:black;
font-size:55px;
}
footer{
display: block;
}
footer p{
color: white;
font-size:25px;
text-align: center;
}